.form-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 19px;
  margin-top: 32px;

  background-color: #ffffff;
}

.form-section__title {
  margin: 0;

  font-size: 24px;
  font-weight: 800;
}

.form-section__intro {
  order: -1;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 26px;
}

.form-section__data-protection {
  margin-top: 37px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

@media (max-width: $mobile-width) {
  .form-section {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .form-section__title {
    padding-left: 17px;

    font-size: 20px;
    line-height: 20px;
  }

  .form-section__intro {
    box-sizing: border-box;

    padding-left: 17px;
    padding-right: 35px;
    margin-bottom: 21px;
  }

  .form-section__last-part {
    display: none;
  }

  .form-section__data-protection {
    padding-left: 17px;
  }
}
