.form {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  margin-top: 10px;
}

.form__fieldset {
  position: relative;

  border: none;
  padding: 0;
  margin-bottom: 20px;

  &--date {
    width: 253px;
  }
}

.form__select {
  box-sizing: border-box;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 12px;
  border: 3px solid #eaeaea;

  font-family: inherit;
  font-size: 16px;
  line-height: 24px;

  appearance: none;
}

.form__select-title {
  position: absolute;
  top: 13px;
  left: 17px;

  color: #adadad;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
}

.form__input-title {
  position: absolute;
  top: 0;
  left: 0;
}

.input-wrapper {
  position: relative;

  width: 253px;

  &--surname {
    display: flex;
    justify-content: flex-end;
  }
}

.form__input {
  box-sizing: border-box;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 12px;
  border: 3px solid #eaeaea;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.form__input-title {
  &--nonfilled {
    top: 25px;
    left: 19px;

    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    color: #adadad;
  }

  &--filled {
    top: 10px;
    left: 20px;

    font-size: 12px;
    font-weight: 800;
    line-height: 22px;
    color: #adadad;
  }
}

.fieldset-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscribe-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;

  font-size: 12px;
  line-height: 24px;
  color: #666666;
}

.form__subscribe-input {
  display: none;
}

.form__subscribe-input + label {
  position: relative;

  padding-left: 25px;
}

.form__subscribe-input + label::before {
  content: "";

  box-sizing: border-box;

  position: absolute;
  top: 4px;
  left: 0;

  width: 14px;
  height: 14px;
  border: 2px solid #666666;
}

.form__subscribe-input:checked + label::before {
  background-image: url('../img/subscribe-on.png');
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit {
  width: 175px;
  height: 50px;
  border: 3px solid #adadad;
  margin-top: 26px;

  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  text-transform: capitalize;

  background-color: #ffffff;
}

.error {
  position: absolute;
  left: -3px;
  bottom: -18px;

  font-size: 12px;
  color: #db4433;
}

.correct::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -23px;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  background-image: url('../img/valid-icon.png');
}

.incorrect::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -23px;

  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  background-image: url('../img/invalid-icon.png');
}

@media (max-width: $mobile-width) {
  .form {
    box-sizing: border-box;

    width: 100%;
    padding: 0;
    padding-left: 17px;
    padding-right: 35px;
    padding-top: 10px;
  }

  .form__fieldset {
    width: 100%;
    margin-bottom: 12.5px;
  }

  .form__select {
    width: 100%;

    &--date {
      width: 100%;
    }
  }

  .fieldset-wrapper {
    width: 100%;
  }

  .input-wrapper {
    width: 100%;

    &--name {
      margin-bottom: 13px;
    }
  }

  .form__input {
    width: 100%;
  }

  .fieldset-wrapper {
    flex-wrap: wrap;
  }

  .form__subscribe-input + label {
    width: 100%;

    font-size: 12px;
    line-height: 16px;
  }

  .form__select-title {
    top: 5px;
    left: 10px;
  }

  .form__select {
    padding-top: 22px;
    padding-bottom: 5px;
    padding-left: 7px;
    border: 3px solid #eaeaea;

    font-size: 14px;
    line-height: 22px;
  }

  .form__input {
    padding-top: 22px;
    padding-bottom: 5px;
    padding-left: 7px;

    font-size: 14px;
    line-height: 24px;
  }

  .form__input-title {
    &--nonfilled {
      top: 17px;
      left: 10px;

      font-size: 14px;
      font-weight: 800;
      line-height: 20px;
      color: #adadad;
    }

    &--filled {
      top: 7px;
      left: 10px;
    }
  }

  .correct::after {
    right: -20px;
  }

  .incorrect::after {
    right: -20px;
  }

  .form__subscribe-input + label::before {
    top: 2px;
    left: 2px;
  }

  .form__submit {
    margin-top: 32px;
  }
}
