.modal {
  box-sizing: border-box;

  position: fixed;
  top: 40px;
  @include x-center;
  z-index: 100;

  display: none;
  flex-direction: column;
  width: 740px;
  height: 95%;
  overflow: auto;
  padding: 40px;
  padding-top: 35px;

  text-align: left;

  background-image: url('../img/modal-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: #eaeaea;

  &.active {
    display: flex;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;

  width: 43px;
  height: 43px;
  border: none;

  background-image: url('../img/close-icon.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.modal__title {
  margin: 0;
  margin-top: 10px;
  padding-right: 35%;

  font-family: inherit;
  font-size: 48px;
  line-height: 46px;
  font-weight: 800;
  color: #ffffff;
}

.modal__promo {
  order: -1;
  margin: 0;

  color: #db4433;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: $mobile-width) {
  .modal {
    top: 20px;

    width: 87.5%;
    padding: 0;
    padding-top: 33px;

    background-image: url('../img/modal-bg-min.jpg');
  }

  .modal__close {
    width: 32px;
    height: 32px;
  }

  .modal__title {
    padding-left: 17px;
    padding-right: 20%;
    padding-bottom: 17px;

    font-size: 28px;
    line-height: 32px;
  }

  .modal__promo {
    display: none;
  }
}
