.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(21, 4, 33, 0.20);

  &.active {
    display: block;
  }
}
